@import url(/assets/css/variable.css);

body {
    background: #f0f2f5;

}

main {
    height: calc(100% - var(--footer-height) - -10%);
    padding: 15%;
}

section {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.information,
.security,
.order,
.invoice {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5%;
    background-color: var(--white-diamond);
    border: 1.5px solid #e0e4ea;
    border-radius: 16px;
}

.container .identity,
.email-container {
    margin-bottom: 5px;
}

.information path {
    fill: #9D9D9D;
}

.name {
    color: var(--black-soft);
    font-weight: 600;
}

.email-container,
.update-container {
    display: flex;
    gap: 5px;
}

.email {
    color: #28303D;
}

.email-container path {
    fill: #28303D;
}

.update-container path {
    fill: var(--primary-color);
}

.update {
    color: var(--primary-color);
}

.security path {
    fill: #C1DBF6;
}

.security span,
.order span,
.invoice span {
    color: var(--secondary-color);
}

.order path {
    fill: #FBDBD0;
}

.invoice path {
    fill: #44547D;
}


@media only screen and (min-width: 800px) {

    main {
        height: calc(100% - var(--footer-height) - -30%);
        padding: 5%;
    }
    main section{
        display: flex;
        gap: 10px;
        flex-direction: row-reverse;
        align-items: start;
        justify-content: space-between;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem;
        flex: 1;
    }

}