@import url(/assets/css/variable.css);

main {
    height: calc(100% - var(--footer-height) - -10%);
    padding: 5%;
}
section{
    height: 100%;
    display: flex;
    justify-content: center;
}
.confirmation {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmation path {
    fill: green;

}