@import url(/assets/css/variable.css);

form {
  height: calc(100% - var(--footer-heigth) - 10%);
}

main form,
.name-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.identity{
    gap: 10px;
}

main input,
textarea,
button {
    border-radius: 10px;
}


main input {
    padding: 3% 5%;
    color: var(--secondary-color);
}

main textarea,
.submit {
    padding: 5%;
}

.submit {
    color: var(--white-diamond);
    background-color: var(--primary-color);
}


@media only screen and (min-width:800px) {

    form{
          height: calc(100% - var(--footer-heigth) - 20%);

    }

    main form {
        margin: auto;
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .identity {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 0;
        gap: 20px;
        justify-content: space-between;
    }

    .name-container {
        display: flex;
        flex-wrap: wrap;
        flex: calc(50% - 10px);
        gap: 10px;
    }

    main input, .submit {
        padding: 2%;
    }
}