@import url(/assets//css/variable.css);


.hero {
    background-image: url(/assets/img/png/6d8ed4fc-5f61-4479-9433-f6360b5927b4-cover.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.content-hero {
    z-index: 1;
    color: var(--white-diamond);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-hero a {
    width: 100%;
    min-height: 100vh;
}

.product-list .text-h1-media{
    color: var(--secondary-color);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    gap: 15px;
}

.product-list h1 {
    color: var(--white-diamond);
}

.product-list section {
    color: var(--white-diamond);
    width: 100%;
}

.slider {
    width: 100%;
}

.column {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.card {
    position: relative;
    margin-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
}

.img-card {
    display: block;
    width: 100%;
    position: relative;
    background-color: var(--white-diamond);
}

.img-card figure {
    margin: 0;
    display: block;
    line-height: 0;
}

.img-card img {
    width: 100%;
    object-fit: contain;
}


.container-card {
    display: inline-block;
    padding: 5%;
    height: auto;
    width: 100%;
    background-color: var(--secondary-color);
}

.container-information + .info {
    margin-top: 20px;
}

.container-information {
    display: flex;
    gap:10px;   
}

.svg-container{
    display: flex;
    width: 50%;
    align-items: center;
}

.svg-logo {
    padding: 15%;
    border-radius: 10px;
    height: min-content;
    background-color: var(--primary-color);
}

.information h1 + p {
     margin-top: 5px;
}
.info{
    display: flex;
    justify-content: space-between;
}
.rank{
    display: flex;
    width: min-content;
}

.rank path{
    fill: var(--primary-color)
}

.rank .unrated {
    fill: var(--white-diamond); 
}

.detail{
    display: flex;
    justify-content: center;
}

.detail a {
    padding: 2% 5%;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.info + .detail {
    margin-top: 10px;
}

.blog-list{
    padding-left: 15px;
    padding-right: 15px;
}

.result{
    width: auto;
    max-width: 100%;
}

@media only screen and (min-width: 800px) {

    .card{
        width: 25%;
    }

    .result{
        max-width: 50%;
    }

   

}