@import url(/assets/css/variable.css);




.column {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.product-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}


.product-card img {
    display: block;
    width: 100%;
    position: relative;
    object-fit: contain;
    background-color: var(--white-diamond);
}


.container {
    background-color: tomato;
    padding: 5%;
}

.container h2,
p {
    font-size: var(--text-h2-media);

}

@media only screen and (min-width: 800px) {


    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        grid-auto-rows: auto;

        grid-gap: 1rem;
    }

}