footer {
    width: 100%;
    background-color: var(--secondary-color);
    height: var(--footer-height);
    display: flex;
    padding: 0 5%;
    align-items: center;
}

footer > ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer ul li ul {
    display: flex;
    gap: 30px;
}

.network {
    width: 100%;
    justify-content: center;
    gap: 30px;
}

footer ul li form {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* footer ul li:last-child{
    width: min-content;
} */

.send {
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--white-diamond);
}

@media only screen and (min-width: 800px) {

    footer > ul {
        
        flex-direction:row-reverse;
        justify-content: space-between;
    }


}